# --- Core ---
python-dotenv
pandas
numpy
scikit-learn
joblib

# --- MongoDB ---
pymongo[srv]
pymongo
certifi
pymongo

# --- Config & Utilities ---
pyyaml
jinja2
requests
typing-extensions

# # --- MLOps ---
# mlflow
# dagshub

# --- API & Server ---
fastapi
uvicorn
gunicorn
python-multipart
starlette

# --- Optional / Safety ---
# dill           # (uncomment if you serialize models with dill)
# -e .           # (only for local editable installs)
